---
import { getBlogPosts } from "../../helpers/getBlogPosts";
import PostComponent from "./PostComponent.astro";
const { fullList, latestPost, fiveRecent } = await getBlogPosts();

const { numberOfPosts } = Astro.props;
---

<ul class="most-recent">
  {
    numberOfPosts === "all" &&
      fullList.map((post) => <PostComponent post={post} />)
  }
</ul>
{
  numberOfPosts === "latest" && (
    <>
      <div>
        <h2>Latest Post</h2>
      </div>
      <PostComponent post={latestPost} single />
    </>
  )
}

{
  numberOfPosts === "recents" && fiveRecent.length > 0 && (
    <div class=" recents-list">
      <h2>Further Reading</h2>
      <div>
        <ul>
          {fiveRecent.map((post) => (
            <PostComponent post={post} />
          ))}
        </ul>
      </div>
    </div>
  )
}

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  .most-recent {
    margin-top: 4.5rem;
  }

  li {
    margin-bottom: 1rem;
  }

  .recents-list {
    margin-top: 4.5rem;
  }
</style>
