---
import { getBlogPosts } from "../../helpers/getBlogPosts";
import PostComponent from "./PostComponent.astro";
const { fullList, latestPost, fiveRecent } = await getBlogPosts();

const { numberOfPosts } = Astro.props;
console.log(numberOfPosts);
---

<ul class="most-recent">
  {
    numberOfPosts === "all" &&
      fullList.map((post) => <PostComponent post={post} />)
  }

  {
    numberOfPosts === "latest" && (
      <>
        <div>
          <h2>Latest Post</h2>
        </div>
        <div>
          <a href={`/posts/${latestPost.slug}`}>{latestPost.data.title}</a>
        </div>
      </>
    )
  }

  {
    numberOfPosts === "recents" && (
      <div class=" recents-list">
        <h2>Further Reading</h2>
        <div>
          <ul>
            {fiveRecent.map((post) => (
              <PostComponent post={post} />
            ))}
          </ul>
        </div>
      </div>
    )
  }
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  .most-recent {
    margin-top: 4.5rem;
  }

  li {
    margin-bottom: 1rem;
  }

  .recents-list {
    margin-top: 4.5rem;
  }
</style>
