---

---

<footer>
  <p>&copy; Copyright Robert Grunau | 2024</p>
</footer>

<style>
  footer {
    margin-top: 5rem;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
  }
</style>
