---

---

<nav>
    <a class="nav-links" href="/">Home</a>
    <a class="nav-links" href="/about/">About</a>
    <a class="nav-links" href="/blog/">Blog</a>
    <a class="nav-links" href="/contact/">Contact</a>
</nav>
