---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <main>
        <slot />
    </main>
</BaseLayout>

<style>
    main {
        padding: 1rem;
    }
</style>
